body {
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
}

.wrapper {
  text-align: center;
  margin: 105px 6vw 0 6vw;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-style: italic;
}