body {
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
}

.wrapper {
  text-align: center;
  margin: 105px 6vw 0 6vw;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 600px)
{
  .quote {
    font-size: 1.7rem;
  }
  
  .author {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1000px)
{
.wrapper {
  margin: 200px 6vw 0 6vw;
  }
}